body {
  /* styles.css */

/* Styling for the card container */
.cardbody {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  max-width: 400px;
  align-items: center;
  background-color: #38354d; /* Example background color */
  -webkit-background-color: #38354d;
  color: rgb(223, 24, 24); /* Example text color */
  margin: 5rem auto; /* Example margin */
  
}

.abody {
  background-color: #ffffff; /* Example background color */
  align-items: center;
}


/* Add more styles as needed for different elements within the card */

}